apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: using-gin-ingress
  annotations:
    #nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/rewrite-target: /
    #nginx.ingress.kubernetes.io/use-regex: "true"

spec:
  ingressClassName: nginx
  rules:
    - host: myapp.local
      http:
        paths:
        - pathType: Prefix
          path: /using-gin
          backend:
            service:
              name: using-gin-svc
              port:
                number: 8080